body {
    font-family: Arial, sans-serif;
}

table {
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

tbody tr {
    background-image: linear-gradient(#f9f9f9, #e3e3e3);
}

tbody tr:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
